//  calc(15px + 3 * ((100vw - 320px) / (1920 - 320)))
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

img {
  height: auto;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button, input {
  background: transparent;
  border: none;
}

button:focus,
input:focus {
  outline-width: 3px;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
}

.j-center {
  justify-content: center;
}

.j-around {
  justify-content: space-around;
}

.j-between {
  justify-content: space-between;
}

.wrapper-col {
  flex-direction: column;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}



